gradle-local.properties
gpg/
.gradle/
build/
*.class
*.log
*.settings.xml
tmp/
Tachidesk.jar
/wix311

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iml
*.ipr
*.iws
/.idea/*
!/.idea/runConfigurations/
!/.idea/scopes
!/.idea/copyright
out/
workspace.xml
/local.properties
