<configuration debug="true">

    <property name="HOME_LOG" value="logs/app.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--<withJansi>true</withJansi>-->
        <encoder>
            <pattern>%highlight(%d{HH:mm:ss.SSS} [%thread] %level/%logger{0}: %msg%n)</pattern>
        </encoder>
    </appender>

    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>-->

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME_LOG}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>-->

    <!--<logger name="ca.gosyer" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        &lt;!&ndash;<appender-ref ref="FILE"/>&ndash;&gt;
    </logger>-->

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>